html {
  font-family: helvetica, sans-serif; }

.text-input {
  width: 100%;
  max-width: 20em;
  font-size: 1em;
  padding: 0.25em;
  outline: none;
  border: 2px solid #969696; }
  .text-input:focus {
    outline: 2px solid dodgerblue; }

#taskbar {
  z-index: 11;
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0; }

#taskbar.windows-10 {
  height: 3em;
  background: black; }
  #taskbar.windows-10 .taskbar-item {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 3em;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out; }
    #taskbar.windows-10 .taskbar-item.active {
      border-bottom: 2px solid white;
      background: rgba(50, 50, 50, 0.8);
      box-sizing: border-box; }
      #taskbar.windows-10 .taskbar-item.active.focused {
        background: rgba(100, 100, 100, 0.8); }
    #taskbar.windows-10 .taskbar-item.minimized {
      border-bottom: 2px solid white;
      box-sizing: border-box; }
    #taskbar.windows-10 .taskbar-item.inverted img {
      filter: invert(1); }
    #taskbar.windows-10 .taskbar-item:hover {
      background: #323232; }
    #taskbar.windows-10 .taskbar-item img {
      max-height: 50%;
      max-width: auto;
      margin: auto 0; }

#taskbar.mac-os {
  height: 5em;
  left: 2em;
  right: 2em;
  display: flex;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: rgba(155, 155, 155, 0.72);
  box-shadow: 0 0 10px black; }
  #taskbar.mac-os .taskbar-item {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 5em;
    transition: all 0.15s ease-in-out; }
    #taskbar.mac-os .taskbar-item.active {
      border-bottom: 2px solid white;
      box-sizing: border-box; }
    #taskbar.mac-os .taskbar-item.minimized {
      border-bottom: 2px solid white;
      box-sizing: border-box; }
    #taskbar.mac-os .taskbar-item.inverted img {
      filter: invert(1); }
    #taskbar.mac-os .taskbar-item img {
      max-height: 75%;
      max-width: auto;
      margin: auto 0; }

#desktop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background 1s ease-in-out; }

#desktop.windows-10 {
  cursor: url(~/files/images/icons/windows_10_cursor.png), auto; }

#desktop.mac-os {
  cursor: url(~/files/images/icons/mac_os_cursor.png), auto; }

.app-window {
  position: absolute;
  height: 35em;
  width: 35em;
  max-height: 100%;
  max-width: 100%;
  background: lightgray;
  box-sizing: border-box; }
  .app-window iframe {
    height: 100%;
    width: 100%;
    border: none; }

.app-window.windows-10 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid dodgerblue;
  animation: window-open 0.2s;
  transition: all 0.2s ease-in-out; }
  .app-window.windows-10.focused {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
    .app-window.windows-10.focused .content-cover {
      display: none; }
  .app-window.windows-10.app-dragging {
    transition: none; }
  .app-window.windows-10.maximized {
    width: auto;
    height: auto;
    top: 0;
    bottom: 3em;
    transform: translate(0, 0) !important;
    left: 0;
    right: 0;
    animation: maximizing 0.2s; }
  .app-window.windows-10.app-closing {
    animation: closing 0.2s; }
  .app-window.windows-10.minimized {
    opacity: 0;
    transform: translateY(100%) translateX(-5%) scale(0.85) !important; }
  .app-window.windows-10 .window-contents {
    position: absolute;
    top: 2em;
    bottom: 0;
    left: 0;
    right: 0; }
  .app-window.windows-10 .content-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent; }
@keyframes window-open {
  0% {
    opacity: 0;
    transform: scale(0.95); } }
@keyframes maximizing {
  0% {
    transform: scale(0.95) translateY(5%); } }
@keyframes closing {
  100% {
    transform: scale(0.95);
    opacity: 0; } }
.app-window.mac-os {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .app-window.mac-os.focused {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
    .app-window.mac-os.focused .content-cover {
      display: none; }
  .app-window.mac-os.app-dragging {
    transition: none; }
  .app-window.mac-os.maximized {
    width: auto;
    height: auto;
    top: 0;
    bottom: 3em;
    transform: translate(0, 0) !important;
    left: 0;
    right: 0; }
  .app-window.mac-os.minimized {
    opacity: 0;
    transform: translateY(100%) translateX(-5%) scale(0.85) !important; }
  .app-window.mac-os .window-contents {
    position: absolute;
    top: 2em;
    bottom: 0;
    left: 0;
    right: 0; }
  .app-window.mac-os .content-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent; }
  .app-window.mac-os iframe {
    height: 100%;
    width: 100%;
    border: none; }

.shortcut-container {
  position: absolute;
  top: 0;
  bottom: 3em;
  left: 0;
  right: 0; }
  .shortcut-container .shortcut {
    display: flex;
    flex-direction: column;
    width: 5em;
    text-align: center;
    color: white;
    user-select: none; }
    .shortcut-container .shortcut:hover {
      background: rgba(100, 100, 100, 0.5); }
    .shortcut-container .shortcut img {
      max-height: 4em;
      margin: a uto; }
    .shortcut-container .shortcut .shortcut-text {
      margin: auto 0; }

.titlebar {
  display: flex;
  justify-content: space-between;
  background: white;
  user-select: none; }
  .titlebar .titlebar-container {
    display: flex; }
  .titlebar .title {
    margin: auto 0; }

.titlebar.windows-10 {
  height: 2em; }
  .titlebar.windows-10 .back-button {
    display: flex;
    background: dodgerblue; }
    .titlebar.windows-10 .back-button:hover {
      filter: brightness(110%); }
    .titlebar.windows-10 .back-button img {
      max-height: 1em;
      width: 3em;
      margin: auto;
      filter: invert(1); }
  .titlebar.windows-10 .title {
    padding-left: 0.5em; }
  .titlebar.windows-10 .titlebar-nav-button {
    height: 100%;
    margin: auto 0;
    line-height: 0.8em;
    font-size: 2em;
    font-weight: 400;
    width: 1.6em;
    text-align: center;
    transition: all 0.15s ease-out; }
    .titlebar.windows-10 .titlebar-nav-button.red:hover {
      background: red;
      color: white; }
    .titlebar.windows-10 .titlebar-nav-button:hover {
      background: rgba(0, 0, 0, 0.05); }

.titlebar.mac-os {
  height: 2.5em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb, color-stop(1, #d5d5d5)));
  background: -webkit-linear-gradient(to bottom, #ebebeb, #d5d5d5);
  background: -moz-linear-gradient(to bottom, #ebebeb, #d5d5d5);
  background: -ms-linear-gradient(to bottom, #ebebeb, #d5d5d5);
  background: -o-linear-gradient(to bottom, #ebebeb, #d5d5d5);
  background: linear-gradient(to bottom, #ebebeb, #d5d5d5);
  border-bottom: 1px solid darkgray; }
  .titlebar.mac-os .titlebar-nav-button {
    height: 100%;
    margin: auto 0;
    line-height: 0.8em;
    font-size: 2em;
    font-weight: 400;
    width: 1.6em;
    text-align: center;
    transition: all 0.15s ease-out; }
    .titlebar.mac-os .titlebar-nav-button:hover {
      background: rgba(0, 0, 0, 0.05); }

.boot-manager {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(~/files/images/boot.png) no-repeat center center fixed; }
  .boot-manager h1 {
    display: none;
    font-weight: 400;
    margin: 0em auto; }
  .boot-manager .os-container {
    display: flex;
    margin: 0 auto; }
  .boot-manager .os-item {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    height: 9em;
    width: 9em;
    margin: 1em;
    border-radius: 4px; }
    .boot-manager .os-item.selected {
      background: rgba(200, 200, 200, 0.9);
      border: 1px solid darkgray; }
      .boot-manager .os-item.selected h3 {
        opacity: 1; }
    .boot-manager .os-item img {
      max-height: 7em; }
    .boot-manager .os-item h3 {
      text-align: center;
      font-weight: 400;
      opacity: 0;
      margin-top: 0.5em; }

.start-menu {
  z-index: 10;
  position: fixed;
  bottom: 3em;
  left: 0;
  height: 25em;
  width: 100%;
  max-width: 61em;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  animation: sm-appear 0.2s; }
  .start-menu.app-closing {
    animation: drawer-closing 0.18s; }
  .start-menu .sm-container {
    display: flex; }
  .start-menu .sm-sidebar {
    display: flex;
    flex-direcion: column;
    min-width: 15em; }
  .start-menu .sm-content {
    display: flex;
    flex-wrap: wrap; }
  .start-menu .sm-section {
    display: flex;
    flex-direction: column;
    width: 23em; }
    .start-menu .sm-section .sm-section-title {
      margin: 1.5em 0 1em 0; }
    .start-menu .sm-section .sm-section-tile-container {
      display: flex;
      flex-wrap: wrap; }
  .start-menu .sm-tile {
    display: flex;
    flex-direction: column;
    height: 7em;
    width: 7em;
    margin: 3px;
    background: dodgerblue; }
    .start-menu .sm-tile.inverted img {
      filter: invert(1); }
    .start-menu .sm-tile:hover {
      outline: 3px solid white; }
    .start-menu .sm-tile:active {
      transform: scale(0.95); }
    .start-menu .sm-tile img {
      max-width: 3em;
      margin: auto; }
    .start-menu .sm-tile .tile-title {
      padding-left: 0.2em;
      margin: 0.5em; }
@keyframes sm-appear {
  0% {
    transform: translateY(100%); } }
@keyframes drawer-closing {
  100% {
    transform: translateY(100%);
    opacity: 0; } }
#cortana-app {
  z-index: 10;
  position: fixed;
  bottom: 3em;
  left: 0;
  height: 25em;
  width: 100%;
  max-width: 20em;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  animation: cortana-appear 0.2s; }
  #cortana-app.app-closing {
    animation: drawer-closing 0.2s; }
@keyframes cortana-appear {
  0% {
    transform: translateY(100%); } }
#settings-app {
  background: white; }
  #settings-app .window-contents {
    overflow: auto; }
  #settings-app .main-screen {
    display: flex;
    flex-direction: column; }
  #settings-app .search-container {
    display: flex;
    flex-direction: column; }
    #settings-app .search-container .header {
      font-size: 1.5em;
      font-weight: 400;
      text-align: center; }
    #settings-app .search-container .text-input {
      margin: 0 auto; }
  #settings-app .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  #settings-app .main-nav-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 11.6em;
    width: 11.6em;
    margin: 0.2em;
    background: white; }
    #settings-app .main-nav-button:hover {
      outline: 2px solid lightgray; }
    #settings-app .main-nav-button:active {
      transform: scale(0.95); }
    #settings-app .main-nav-button .main-nav-button-title, #settings-app .main-nav-button .main-nav-button-details {
      font-size: 0.8em;
      font-weight: 400;
      margin: 0;
      text-align: center; }
  #settings-app .button-icon {
    margin: 0 auto;
    width: 65px;
    height: 65px; }
    #settings-app .button-icon.system-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -6px 0; }
    #settings-app .button-icon.devices-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -86px 0; }
    #settings-app .button-icon.phone-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -173px 0; }
    #settings-app .button-icon.network-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -250px 0; }
    #settings-app .button-icon.personalization-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -331px 0; }
    #settings-app .button-icon.apps-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -6px -73px; }
    #settings-app .button-icon.accounts-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -90px -73px; }
    #settings-app .button-icon.time-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -175px -73px; }
    #settings-app .button-icon.gaming-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -250px -73px; }
    #settings-app .button-icon.access-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -330px -73px; }
    #settings-app .button-icon.cortana-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) 0 -147px; }
    #settings-app .button-icon.privacy-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -91px -147px; }
    #settings-app .button-icon.update-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -170px -147px; }

#spotifree-app {
  display: flex;
  flex-direction: column; }
  #spotifree-app.app-dragging .content-cover {
    display: block; }
  #spotifree-app .main-screen {
    height: 100%; }

/*# sourceMappingURL=main.css.map */
