html {
  font-family: helvetica, sans-serif;
  background: black; }

.text-input {
  width: 100%;
  max-width: 20em;
  font-size: 1em;
  padding: 0.25em;
  outline: none;
  border: 2px solid #969696; }
  .text-input:focus {
    outline: 2px solid dodgerblue; }

.taskbar-container {
  z-index: 11;
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0; }
  .taskbar-container.left {
    top: 0;
    left: 0;
    right: unset;
    width: 3em;
    height: unset;
    flex-direction: column; }
    .taskbar-container.left #taskbar {
      flex-direction: column;
      width: 3em;
      height: 100%; }
  .taskbar-container .taskbar-item-label {
    display: none; }

#taskbar {
  position: relative;
  display: flex; }

#taskbar.windows-10 {
  width: 100%;
  height: 3em;
  background: black; }
  #taskbar.windows-10 .taskbar-item {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 3em;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out; }
    #taskbar.windows-10 .taskbar-item.active {
      border-bottom: 2px solid white;
      background: rgba(50, 50, 50, 0.8);
      box-sizing: border-box; }
      #taskbar.windows-10 .taskbar-item.active.focused {
        background: rgba(100, 100, 100, 0.8); }
    #taskbar.windows-10 .taskbar-item.minimized {
      border-bottom: 2px solid white;
      box-sizing: border-box; }
    #taskbar.windows-10 .taskbar-item.inverted img {
      filter: invert(1); }
    #taskbar.windows-10 .taskbar-item:hover {
      background: #323232; }
    #taskbar.windows-10 .taskbar-item img {
      max-height: 50%;
      max-width: auto;
      margin: auto 0; }

.taskbar-container.left {
  top: 2em; }
  .taskbar-container.left #taskbar.mac-os {
    height: auto;
    width: 5em;
    margin: auto 0;
    flex-direction: column;
    animation: dock-reveal-left 1.5s; }
    .taskbar-container.left #taskbar.mac-os .taskbar-item {
      height: 4.5em; }
@keyframes dock-reveal-left {
  0% {
    transform: translateX(-100%); }
  50% {
    transform: translateX(-100%); } }
#taskbar.mac-os {
  height: 5em;
  max-width: 70em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  animation: dock-reveal 1.5s; }
  #taskbar.mac-os .taskbar-bg-container {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all 0.15s ease-in-out;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
  #taskbar.mac-os .taskbar-bg, #taskbar.mac-os .taskbar-item-label-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    filter: blur(10px);
    transform: scale(1.4);
    transition: background 0.5s; }
  #taskbar.mac-os .taskbar-item {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 4.5em;
    margin: 0;
    transform: translate3d(0, 0, 0); }
    #taskbar.mac-os .taskbar-item .taskbar-item-indicator {
      opacity: 0;
      position: absolute;
      bottom: 3px;
      height: 5px;
      width: 5px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 50%;
      transition: all 0.7s ease-in-out; }
    #taskbar.mac-os .taskbar-item.active {
      transition: none;
      animation: bounce 1s ease-in-out; }
      #taskbar.mac-os .taskbar-item.active .taskbar-item-indicator {
        opacity: 1;
        transition: none; }
    #taskbar.mac-os .taskbar-item.minimized {
      border-bottom: 2px solid white;
      box-sizing: border-box; }
    #taskbar.mac-os .taskbar-item.inverted img {
      filter: invert(1); }
    #taskbar.mac-os .taskbar-item:hover .taskbar-item-label {
      display: block; }
    #taskbar.mac-os .taskbar-item .taskbar-item-label {
      position: absolute;
      top: -2.3em;
      padding: 0.2em 0.5em;
      font-size: 0.95em;
      white-space: nowrap;
      background: #282828;
      color: rgba(240, 240, 240, 0.9);
      border-radius: 4px; }
    #taskbar.mac-os .taskbar-item .taskbar-item-label-triangle {
      position: absolute;
      top: 1.3em;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #282828; }
    #taskbar.mac-os .taskbar-item img {
      max-height: 65%;
      max-width: auto;
      margin: auto 0; }
@keyframes dock-reveal {
  0% {
    transform: translateY(100%); }
  50% {
    transform: translateY(100%); } }
@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-30%); }
  100% {
    transform: translateY(0%); } }
.statusbar {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1.7em;
  background: white;
  display: flex;
  cursor: default;
  user-select: none; }
  .statusbar.active .statusbar-item:hover {
    background: #006bd2; }
    .statusbar.active .statusbar-item:hover .statusbar-dropdown {
      display: block; }
  .statusbar .statusbar-bg {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .statusbar .statusbar-item {
    display: flex;
    align-items: center; }
    .statusbar .statusbar-item .statusbar-text {
      font-size: 0.9em;
      margin: auto 0.3em;
      padding: 0 5px; }
      .statusbar .statusbar-item .statusbar-text.bold {
        font-weight: bold; }
  .statusbar .statusbar-dropdown {
    display: none;
    position: absolute;
    top: 1.7em;
    width: 15em; }

.statusbar.mac-os {
  padding-left: 0.6em;
  color: white;
  background: black; }
  .statusbar.mac-os .statusbar-bg {
    filter: blur(20px) brightness(0.8);
    transform: scale(1.3);
    opacity: 0.9; }
  .statusbar.mac-os .statusbar-dropdown {
    border-top: 1px solid #969696;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }
    .statusbar.mac-os .statusbar-dropdown .section {
      padding: 5px 0;
      border-top: 1px solid #8c8c8c;
      border-bottom: 1px solid #8c8c8c; }
      .statusbar.mac-os .statusbar-dropdown .section:first-child {
        border-top: none; }
      .statusbar.mac-os .statusbar-dropdown .section:last-child {
        border-bottom: none; }
    .statusbar.mac-os .statusbar-dropdown .statusbar-dropdown-item {
      margin: 0;
      padding: 4px 20px; }
      .statusbar.mac-os .statusbar-dropdown .statusbar-dropdown-item:hover {
        background: #006bd2;
        color: white; }
  .statusbar.mac-os .statusbar-dropdown-bg {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(6px);
    transform: scale(1.3); }

#desktop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background 1s ease-in-out;
  background-size: cover;
  animation: fade 1.5s; }

#desktop.windows-10 {
  cursor: url(~/files/images/icons/windows_10_cursor.png), auto; }

#desktop.mac-os {
  transition: none;
  animation: fade 1s; }

@keyframes fade {
  0% {
    opacity: 0; } }
.app-window {
  position: absolute;
  height: 35em;
  width: 35em;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  cursor: default;
  background: #f0f0f0; }
  .app-window.focused {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
    .app-window.focused .content-cover {
      display: none; }
  .app-window.app-dragging {
    transition: none !important; }
    .app-window.app-dragging .content-cover {
      display: block; }
  .app-window.minimized {
    opacity: 0;
    transform: translateY(100%) translateX(-5%) scale(0.85) !important; }
  .app-window.maximized {
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0, 0) !important;
    animation: maximizing 0.2s; }
  .app-window .content-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent; }
  .app-window iframe {
    height: 100%;
    width: 100%;
    border: none; }
  .app-window .window-contents {
    position: relative;
    flex: 1; }

.app-window.windows-10 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid dodgerblue;
  animation: window-open 0.2s;
  transition: all 0.2s ease-in-out; }
  .app-window.windows-10.dark {
    border: 1px solid transparent; }
  .app-window.windows-10.app-closing {
    animation: closing 0.2s; }
  .app-window.windows-10.maximized {
    bottom: 3em; }
@keyframes window-open {
  0% {
    opacity: 0;
    transform: scale(0.95); } }
@keyframes maximizing {
  0% {
    transform: scale(0.95) translateY(5%); } }
@keyframes closing {
  100% {
    transform: scale(0.95);
    opacity: 0; } }
.app-window.mac-os {
  border: 1px solid lightgray;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.25s ease-in-out; }
  .app-window.mac-os.dark {
    border: none; }
  .app-window.mac-os.maximized {
    top: 1.7em; }
  .app-window.mac-os .content-cover {
    top: 0.5em; }
  .app-window.mac-os.maximized {
    bottom: 5em; }

.shortcut-container {
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 3em;
  left: 0;
  right: 0; }
  .shortcut-container .shortcut {
    display: flex;
    flex-direction: column;
    width: 5em;
    text-align: center;
    color: white;
    user-select: none; }
    .shortcut-container .shortcut:hover {
      background: rgba(100, 100, 100, 0.5); }
    .shortcut-container .shortcut img {
      max-height: 4em;
      max-width: auto;
      margin: auto; }
    .shortcut-container .shortcut .shortcut-text {
      margin: auto 0; }

.shortcut-container.mac-os {
  top: 2em; }
  .shortcut-container.mac-os .shortcut:hover {
    background: transparent; }
  .shortcut-container.mac-os .shortcut-text {
    font-size: 0.8em;
    text-shadow: 0 2px 7px black; }

.titlebar {
  display: flex;
  justify-content: space-between;
  background: white;
  user-select: none; }
  .titlebar.dark {
    color: white; }
  .titlebar .titlebar-container {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .titlebar .titlebar-section {
    display: flex;
    flex: 1; }
  .titlebar .title {
    margin: auto 0;
    font-size: 0.8em; }

.titlebar.windows-10 {
  height: 2em; }
  .titlebar.windows-10 .back-button {
    display: flex;
    background: dodgerblue; }
    .titlebar.windows-10 .back-button:hover {
      filter: brightness(110%); }
    .titlebar.windows-10 .back-button img {
      max-height: 1em;
      width: 3em;
      margin: auto;
      filter: invert(1); }
  .titlebar.windows-10 .title {
    padding-left: 0.5em; }
  .titlebar.windows-10 .nav-buttons {
    justify-content: flex-end; }
  .titlebar.windows-10 .titlebar-nav-button {
    height: 100%;
    margin: auto 0;
    line-height: 0.8em;
    font-size: 2em;
    font-weight: 400;
    width: 1.6em;
    text-align: center;
    transition: all 0.15s ease-out; }
    .titlebar.windows-10 .titlebar-nav-button.red:hover {
      background: red;
      color: white; }
    .titlebar.windows-10 .titlebar-nav-button:hover {
      background: rgba(0, 0, 0, 0.05); }

.titlebar.mac-os {
  height: 2.5em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb, color-stop(1, #d5d5d5)));
  background: -webkit-linear-gradient(to bottom, #ebebeb, #d5d5d5);
  background: -moz-linear-gradient(to bottom, #ebebeb, #d5d5d5);
  background: -ms-linear-gradient(to bottom, #ebebeb, #d5d5d5);
  background: -o-linear-gradient(to bottom, #ebebeb, #d5d5d5);
  background: linear-gradient(to bottom, #ebebeb, #d5d5d5);
  border-bottom: 1px solid darkgray; }
  .titlebar.mac-os.dark {
    border-bottom: 1px solid transparent; }
  .titlebar.mac-os .title {
    width: 100%;
    line-height: 0;
    text-align: center; }
  .titlebar.mac-os .back-button {
    display: flex;
    background: dodgerblue; }
    .titlebar.mac-os .back-button:hover {
      filter: brightness(110%); }
    .titlebar.mac-os .back-button img {
      max-height: 1em;
      width: 3em;
      margin: auto;
      filter: invert(1); }
  .titlebar.mac-os .nav-buttons {
    display: flex;
    flex: 0;
    align-items: center;
    justify-content: center;
    min-width: 5em; }
    .titlebar.mac-os .nav-buttons:hover a {
      visibility: visible; }
    .titlebar.mac-os .nav-buttons a {
      text-decoration: none;
      text-align: center; }
    .titlebar.mac-os .nav-buttons .tb-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.3em;
      font-size: 9pt;
      width: 11px;
      height: 11px;
      border-radius: 50%; }
  .titlebar.mac-os .close {
    background: #ff5c5c;
    border: 1px solid #e33e41; }
    .titlebar.mac-os .close:active {
      background: #c14645;
      border: 1px solid #b03537; }
      .titlebar.mac-os .close:active .closebutton {
        color: #4e0002; }
    .titlebar.mac-os .close .closebutton {
      color: #820005;
      visibility: hidden;
      cursor: default; }
  .titlebar.mac-os .minimize {
    background: #ffbd4c;
    border: 1px solid #e09e3e; }
    .titlebar.mac-os .minimize:active {
      background: #c08e38;
      border: 1px solid #af7c33; }
      .titlebar.mac-os .minimize:active .minimizebutton {
        color: #5a2607; }
    .titlebar.mac-os .minimize .minimizebutton {
      color: #9a5518;
      visibility: hidden;
      cursor: default; }
  .titlebar.mac-os .zoom {
    background: #00ca56;
    border: 1px solid #14ae46; }
    .titlebar.mac-os .zoom:active {
      background: #029740;
      border: 1px solid #128435; }
      .titlebar.mac-os .zoom:active .zoombutton {
        color: #003107; }
    .titlebar.mac-os .zoom .zoombutton {
      color: #006519;
      visibility: hidden;
      cursor: default; }

.boot-manager {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(~/files/images/boot.png) no-repeat center center fixed;
  background-size: cover;
  animation: fadein 0.5s; }
  .boot-manager h1 {
    display: none;
    font-weight: 400;
    margin: 0em auto; }
  .boot-manager .os-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto; }
  .boot-manager .os-item {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    height: 9em;
    width: 9em;
    margin: 1em;
    border: 2px solid transparent;
    border-radius: 4px; }
    .boot-manager .os-item.selected {
      background: rgba(200, 200, 200, 0.9);
      border: 2px solid darkgray; }
      .boot-manager .os-item.selected h3 {
        opacity: 1; }
    .boot-manager .os-item img {
      max-height: 7em; }
    .boot-manager .os-item h3 {
      text-align: center;
      font-weight: 400;
      opacity: 0;
      margin-top: 0.5em;
      color: #5a5a5a; }
@keyframes fadein {
  0% {
    opacity: 0; } }
.start-menu {
  z-index: 10;
  position: fixed;
  bottom: 3em;
  left: 0;
  height: 25em;
  width: 100%;
  max-width: 61em;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  animation: sm-appear 0.2s;
  overflow: hidden; }
  .start-menu.app-closing {
    animation: drawer-closing 0.18s; }
  .start-menu .sm-container {
    display: flex; }
  .start-menu .sm-background {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(10px) brightness(0.3);
    transform: scale(1.2); }
  .start-menu .sm-sidebar {
    display: flex;
    flex-direcion: column;
    min-width: 15em; }
  .start-menu .sm-content {
    display: flex;
    flex-wrap: wrap; }
  .start-menu .sm-section {
    display: flex;
    flex-direction: column;
    width: 23em; }
    .start-menu .sm-section .sm-section-title {
      margin: 1.5em 0 1em 0; }
    .start-menu .sm-section .sm-section-tile-container {
      display: flex;
      flex-wrap: wrap; }
  .start-menu .sm-tile {
    display: flex;
    flex-direction: column;
    height: 7em;
    width: 7em;
    margin: 3px;
    background: dodgerblue; }
    .start-menu .sm-tile.inverted img {
      filter: invert(1); }
    .start-menu .sm-tile:hover {
      outline: 3px solid white; }
    .start-menu .sm-tile:active {
      transform: scale(0.95); }
    .start-menu .sm-tile img {
      max-width: 3em;
      margin: auto; }
    .start-menu .sm-tile .tile-title {
      padding-left: 0.2em;
      margin: 0.5em; }
@keyframes sm-appear {
  0% {
    overflow: hidden;
    height: 0; } }
@keyframes drawer-closing {
  100% {
    transform: translateY(100%);
    opacity: 0; } }
#cortana-app {
  z-index: 10;
  position: fixed;
  bottom: 3em;
  left: 0;
  height: 25em;
  width: 100%;
  max-width: 20em;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  animation: cortana-appear 0.2s; }
  #cortana-app.app-closing {
    animation: drawer-closing 0.2s; }
@keyframes cortana-appear {
  0% {
    transform: translateY(100%); } }
#settings-app {
  background: white; }
  #settings-app .window-contents {
    overflow: auto; }
  #settings-app .main-screen {
    display: flex;
    flex-direction: column; }
  #settings-app .search-container {
    display: flex;
    flex-direction: column; }
    #settings-app .search-container .header {
      font-size: 1.5em;
      font-weight: 400;
      text-align: center; }
    #settings-app .search-container .text-input {
      margin: 0 auto; }
  #settings-app .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  #settings-app .main-nav-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 11.6em;
    width: 11.6em;
    margin: 0.2em;
    background: white; }
    #settings-app .main-nav-button:hover {
      outline: 2px solid lightgray; }
    #settings-app .main-nav-button:active {
      transform: scale(0.95); }
    #settings-app .main-nav-button .main-nav-button-title, #settings-app .main-nav-button .main-nav-button-details {
      font-size: 0.8em;
      font-weight: 400;
      margin: 0;
      text-align: center; }
  #settings-app .button-icon {
    margin: 0 auto;
    width: 65px;
    height: 65px; }
    #settings-app .button-icon.system-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -6px 0; }
    #settings-app .button-icon.devices-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -86px 0; }
    #settings-app .button-icon.phone-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -173px 0; }
    #settings-app .button-icon.network-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -250px 0; }
    #settings-app .button-icon.personalization-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -331px 0; }
    #settings-app .button-icon.apps-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -6px -73px; }
    #settings-app .button-icon.accounts-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -90px -73px; }
    #settings-app .button-icon.time-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -175px -73px; }
    #settings-app .button-icon.gaming-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -250px -73px; }
    #settings-app .button-icon.access-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -330px -73px; }
    #settings-app .button-icon.cortana-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) 0 -147px; }
    #settings-app .button-icon.privacy-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -91px -147px; }
    #settings-app .button-icon.update-settings {
      background: url(~/files/images/icons/settings-sheet.jpg) -170px -147px; }

#spotifree-app {
  display: flex;
  flex-direction: column; }
  #spotifree-app.app-dragging .content-cover {
    display: block; }
  #spotifree-app .main-screen {
    height: 100%; }

#sys-prefs-app {
  width: 42em;
  height: 31em;
  background: #edeaee;
  user-select: none; }
  #sys-prefs-app .back-button {
    height: 100%;
    width: 5.5em;
    background: url(~/files/images/icons/sys_prefs_app/menu_button.png) no-repeat 0px 7px;
    border-radius: 8px; }
    #sys-prefs-app .back-button:hover {
      filter: none; }
    #sys-prefs-app .back-button:active {
      filter: brightness(80%); }
  #sys-prefs-app .view {
    animation: fadein 0.35s; }
@keyframes fadein {
  0% {
    opacity: 0; } }
  #sys-prefs-app .main-screen {
    display: flex;
    flex-direction: column; }
    #sys-prefs-app .main-screen .row {
      height: 7em;
      flex: 1;
      display: flex; }
      #sys-prefs-app .main-screen .row:nth-child(2n) {
        background: #e4e4e4; }
    #sys-prefs-app .main-screen .main-nav-button {
      height: 7em;
      width: 7.4em;
      margin: 0.5em 1px;
      padding-top: 0.5em;
      font-size: 0.68em; }
      #sys-prefs-app .main-screen .main-nav-button:active {
        filter: brightness(80%); }
      #sys-prefs-app .main-screen .main-nav-button h3 {
        font-weight: 400;
        margin: 0;
        text-align: center; }
  #sys-prefs-app .button-icon {
    height: 50px;
    width: 43px;
    margin: 0 auto;
    border-radius: 8px; }
    #sys-prefs-app .button-icon.general-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -6px 0; }
    #sys-prefs-app .button-icon.desktop-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -87px 0; }
    #sys-prefs-app .button-icon.dock-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -170px 0; }
    #sys-prefs-app .button-icon.mission-control-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -250px 0; }
    #sys-prefs-app .button-icon.language-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -333px 0; }
    #sys-prefs-app .button-icon.security-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -415px 0; }
    #sys-prefs-app .button-icon.spotlight-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -498px 0; }
    #sys-prefs-app .button-icon.notifications-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -580px 0; }
    #sys-prefs-app .button-icon.displays-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -6px -115px; }
    #sys-prefs-app .button-icon.energy-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -87px -115px; }
    #sys-prefs-app .button-icon.keyboard-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -170px -115px; }
    #sys-prefs-app .button-icon.mouse-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -250px -115px; }
    #sys-prefs-app .button-icon.trackpad-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -333px -115px; }
    #sys-prefs-app .button-icon.printer-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -415px -115px; }
    #sys-prefs-app .button-icon.sound-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -498px -115px; }
    #sys-prefs-app .button-icon.startup-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -580px -115px; }
    #sys-prefs-app .button-icon.icloud-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -6px -225px; }
    #sys-prefs-app .button-icon.internet-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -87px -225px; }
    #sys-prefs-app .button-icon.app-store-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -170px -225px; }
    #sys-prefs-app .button-icon.network-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -250px -225px; }
    #sys-prefs-app .button-icon.bluetooth-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -333px -225px; }
    #sys-prefs-app .button-icon.extensions-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -415px -225px; }
    #sys-prefs-app .button-icon.sharing-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -498px -225px; }
    #sys-prefs-app .button-icon.user-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -6px -335px; }
    #sys-prefs-app .button-icon.parental-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -87px -340px; }
    #sys-prefs-app .button-icon.siri-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -170px -340px; }
    #sys-prefs-app .button-icon.date-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -250px -340px; }
    #sys-prefs-app .button-icon.time-machine-settings {
      background: url(~/files/images/icons/sys_prefs_sheet.jpg) -333px -340px; }
  #sys-prefs-app .desktop-settings-view {
    position: relative;
    background: gainsboro;
    border-radius: 4px;
    margin: 2em 1em;
    padding: 1.5em 1em 1em 1em; }
    #sys-prefs-app .desktop-settings-view .tab-content-container img {
      max-height: 4.5em;
      padding: 0.5em;
      border: 2px solid white;
      border-radius: 4px;
      box-shadow: inset 0 0 5px #969696; }
    #sys-prefs-app .desktop-settings-view .preview-container {
      display: flex; }
    #sys-prefs-app .desktop-settings-view .preview-info-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 1em; }
      #sys-prefs-app .desktop-settings-view .preview-info-container p {
        margin: auto 0;
        font-size: 0.9em; }
    #sys-prefs-app .desktop-settings-view .wallpaper-select-container {
      display: flex;
      flex-wrap: wrap;
      height: 15em;
      background: white;
      margin-top: 0.7em;
      border: 1px solid #b4b4b4; }
      #sys-prefs-app .desktop-settings-view .wallpaper-select-container .background-icon {
        height: 4em;
        width: 7em;
        margin: 0.5em 0.7em;
        background-size: cover !important; }

#launchpad-app {
  z-index: 12;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
  animation: fade 0.35s; }
  #launchpad-app.app-closing {
    animation: fadeOut 0.35s; }
    #launchpad-app.app-closing .launchpad-item-container {
      animation: scale 0.35s; }
  #launchpad-app .launchpad-contents {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; }
  #launchpad-app .launchpad-background {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(20px);
    transform: scale(1.3); }
  #launchpad-app .launchpad-item-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 4em 6em;
    max-width: 50em;
    animation: scaleBig 0.35s; }
  #launchpad-app .launchpad-item {
    display: flex;
    height: 8em;
    width: 8em;
    flex-direction: column;
    align-items: center;
    color: white; }
    #launchpad-app .launchpad-item p {
      font-size: 0.8em;
      text-shadow: 0 1px 6px black; }
    #launchpad-app .launchpad-item img {
      max-width: 75%;
      max-height: 5em; }
@keyframes fadeOut {
  100% {
    opacity: 0; } }
@keyframes scaleBig {
  0% {
    transform: scale(1.1); } }
@keyframes scale {
  100% {
    transform: scale(1.1); } }

/*# sourceMappingURL=main.css.map */
